!!!5
html
	head
		title="CUCEK"
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="/stylesheets/bootstrap/css/bootstrap.min.css")	
	body
		.navbar.navbar-fixed-top.navbar-inverse
			.navbar-inner
				.pull-right
					a.brand(href='index.html') CUCEK	
				ul.nav
					li
						a(href='/index') Home
					li
						a(href='getting-started.html') Get
		block content				
					