!!!5
head
	link(rel="stylesheet", href="/stylesheets/bootstrap/css/bootstrap.min.css")
body
		
		.container
			form.form-sigin(method="POST"
				action="/index")
				
				fieldset
					h2.form-signin-heading Please Signin
					br
					input(type="text", placeholder="Id")
					br	
					input(type="password", placeholder="password")
					br
					button.btn.btn-primary(type="submit", ) Signin

					


